* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #2b2b2b;
}

.col-span-4 {
  -ms-grid-column-span: 4 !important;
      grid-column-end: span 4 !important;
}

.col-span-5 {
  -ms-grid-column-span: 5 !important;
      grid-column-end: span 5 !important;
}

.col-span-6 {
  -ms-grid-column-span: 6 !important;
      grid-column-end: span 6 !important;
}

.col-start-2 {
  -ms-grid-column: 2 !important;
      grid-column-start: 2 !important;
}

.col-start-4 {
  -ms-grid-column: 4 !important;
      grid-column-start: 4 !important;
}

.col-start-5 {
  -ms-grid-column: 5 !important;
      grid-column-start: 5 !important;
}

.col-start-6 {
  -ms-grid-column: 6 !important;
      grid-column-start: 6 !important;
}

.md-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.mt-4r {
  margin-top: 4rem !important;
}

.topnav {
  width: 100%;
  background-color: black;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.6rem;
  position: fixed;
  z-index: 100;
  top: 0;
  -webkit-box-shadow: 0 0 20px rgba(207, 207, 207, 0.25);
          box-shadow: 0 0 20px rgba(207, 207, 207, 0.25);
}

ul.topnavmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.topnavmenu li.topnavlink {
  padding: 0 1.5rem;
}

ul.topnavmenu li.topnavlink a {
  color: white;
  font-size: 0.6rem;
  line-height: unset;
  text-decoration: none;
}

ul.topnavmenu li.topnavlink a:hover {
  color: red;
}

ul.topnavmenu li.topnavlink:last-child {
  padding-right: 0;
}

.menu {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.75rem 1rem;
  position: fixed !important;
  top: 29px;
  -webkit-transition: background 0.35s ease-in;
  transition: background 0.35s ease-in;
  z-index: 100;
  width: 100%;
}

.menu.red {
  background-color: #ce011f !important;
}

.menu.scrolled {
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgba(207, 207, 207, 0.13);
          box-shadow: 0 0 15px rgba(207, 207, 207, 0.13);
}

.menu.scrolled .section-text {
  color: rgba(77, 77, 77, 0.253);
}

.menu.scrolled ul.right-links li a {
  color: #2b2b2b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu.scrolled ul.right-links li a:hover {
  color: #ce011f;
  text-decoration: none;
}

.menu.scrolled ul.right-links i.fa {
  padding-left: 0.5rem;
}

.menu.scrolled i {
  color: #2b2b2b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu.scrolled i:hover {
  color: #ce011f;
}

.menu.scrolled .action-btn.red-bg:hover {
  color: #ce011f;
}

.logo {
  height: 3rem;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
}

.action-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.2rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  color: white;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
  background-color: transparent;
  font-size: 0.9rem;
}

.action-btn.red-bg {
  border-color: #ce011f;
  background-color: #ce011f;
}

.action-btn.red-bg:hover {
  background-color: transparent;
}

.action-btn.red-bgg {
  border-color: #ce011f;
  background-color: #ce011f;
}

.action-btn.red-bgg:hover {
  background-color: transparent;
  color: #ce011f;
}

.action-btn.learn {
  border-color: black;
  color: black;
  margin-bottom: 2rem;
}

.action-btn.learn:hover {
  background-color: black;
  color: white;
}

.action-btn.reverse,
.action-btn.reversed {
  border-color: white;
  color: black;
  margin-bottom: 2rem;
  -webkit-transition: 0s;
  transition: 0s;
  background-color: white;
}

.action-btn.reverse:hover,
.action-btn.reversed:hover {
  background-color: transparent;
  color: white;
}

.action-btn.reversed {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.action-btn.black {
  border-color: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  font-size: 10px;
  margin: 0 auto 2rem;
}

.action-btn.black:hover {
  background-color: transparent;
  color: black;
}

.action-btn.black-nm {
  border-color: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  margin: 0 0 2rem;
}

.action-btn.black-nm:hover {
  background-color: transparent;
  color: black;
}

.hero-banner {
  width: 100%;
  min-height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.65))), url("/1st-Banner-Background.jpg") no-repeat 0% 12%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url("/1st-Banner-Background.jpg") no-repeat 0% 12%;
}

.hero-inner {
  padding: 11rem 0 0rem;
}

h1.hero-text {
  font-size: 5.6rem;
  max-width: none;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  z-index: 3;
}

h1.hero-text span {
  display: block;
}

.social-icons {
  margin: 7rem auto 4rem;
}

.social-icons i {
  font-size: 1.4rem;
  color: #cdcdcd;
  padding: 0 0.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.social-icons i:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #ce011f;
}

.pad {
  padding: 5rem 0 !important;
}

.image-section {
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.image-box,
.image-boxx {
  width: 100%;
  height: 33rem;
  background-color: #ce011f;
}

.image-box img,
.image-boxx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mt-n-04 {
  margin-top: -3rem;
}

.image-boxx {
  height: 42rem;
}

.text-box {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.mb-n-8 {
  margin-top: -8rem;
}

.mb-8 {
  margin-top: 8rem;
}

h1.intro {
  font-size: 3rem;
  margin: 0 auto 2rem;
  color: black;
  font-weight: 700;
}

p.story-text, .mega p {
  color: #4d4d4d;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  font-weight: 400;
}

p.story-text.hgt, .mega p.hgt {
  line-height: 1.9rem;
}

.new-section {
  padding: 0rem;
}

.headline {
  font-weight: 400;
  font-size: 0.9rem;
}

p.title {
  font-weight: 400;
  color: black;
  font-size: 0.9rem;
}

img.read {
  display: block;
  float: right;
  margin: 2rem auto 0;
  width: 50%;
  background-color: #ce011f;
  height: 8rem;
}

.arrow-right {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  margin-right: 1.5rem;
  margin-left: 0;
  position: relative;
  right: 0;
}

.arrow-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.readmore {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.testimonial-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.image-sec {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  /* background-color: #4d4d4d; */
  margin-bottom: 2rem;
}

.image-sec img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1.test {
  font-size: 2rem;
  margin: 0 1rem 1.5rem;
  color: black;
  font-weight: 300;
}

.carousel-box {
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
  width: 100%;
  background-color: black;
  height: 31rem;
  margin-top: -12rem;
  padding: 2.5rem;
}

.gridbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.gridbox.content-box {
  padding: 5rem 1.6rem;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.carousel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-item h4 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 1.4rem;
  margin: 0 auto 3rem;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  color: white;
}

.single-item.bar h4::before {
  background: #ce011f;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  vertical-align: middle;
  width: 0.1rem;
}

.carousel-items p {
  font-size: 1rem;
  color: #8a8a8a;
  margin: 0 auto 0.5rem;
  font-weight: 400;
}

.carousel-items b {
  color: white;
}

b {
  font-weight: 700;
}

.item-box {
  background-color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
  margin-top: -12rem;
  padding: 3rem;
}

.item-box h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  position: relative;
  padding: 0.8rem 0 0.8rem 1rem;
}

.item-box h1::before {
  background: #ce011f;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  vertical-align: middle;
  width: 0.1rem;
}

.item-box.col4 {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 7;
}

.item-inner {
  margin-top: 2rem;
}

.item-single {
  margin-bottom: 2rem;
}

.item-single h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: white;
  margin-bottom: 0.5rem;
}

.item-single p {
  font-weight: 500;
  color:#808080
}

p.quotes {
  font-weight: 300;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0;
}

.mt-n-20 {
  margin-top: -12rem !important;
}

.pl-9 {
  padding-left: 7rem;
}

.light-bg {
  height: 100%;
  position: relative;
}

.light-bg::before {
  background-color: #fafafa;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: -1;
}

.grey-bg {
  background-color: #fafafa;
}

.head-text {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.key-section {
  padding: 2rem;
}

.mid {
  background-color: #f2f1f1 !important;
}

.center-btn {
  margin: auto;
  padding: 1.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.small-textbox {
  padding: 5rem 3rem;
  background-color: black;
  width: 100%;
}

.small-textbox h3 {
  font-weight: 300;
  text-align: center;
  font-size: 2.4rem;
  color: white;
}

.first-footer {
  background: url(https://f.hubspotusercontent00.net/hubfs/534101/_landing-page-template-files/202007_RecruitingPage/Find_Office_wFilter_noCrop_Coalition_Properties_Group_0220_398.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 10rem 0;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-text {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.second-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem auto;
}

.footer-ul li.top a {
  color: black !important;
}

.sec-title,
.footer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sec-title li,
.footer-ul li {
  margin-bottom: 0.8rem;
}

.sec-title li a,
.footer-ul li a {
  font-size: 0.8rem;
  color: #a2a2a2;
  font-weight: 400;
}

.sec-title li.top a,
.footer-ul li.top a {
  color: #676767;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.sec-title li.top .dropdowns,
.footer-ul li.top .dropdowns {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sec-title li.top .dropdowns li a,
.footer-ul li.top .dropdowns li a {
  font-size: 0.8rem;
}

.sec-title li.top i,
.footer-ul li.top i {
  color: #676767;
  padding-left: 0.4rem;
  opacity: 0;
}

.sec-title li.top.active .dropdowns,
.footer-ul li.top.active .dropdowns {
  display: block;
}

.footer-logo {
  width: 8rem;
  height: 4rem;
  margin: 3rem auto;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

.third-footer {
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  padding: 25px;
}

.copyright-text {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.1rem;
  color: #c6c6c6;
  margin: 0 auto 1rem;
}

ul.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.navlinks li {
  color: #4d4d4d;
  font-size: 0.7rem;
  letter-spacing: 0.06rem;
  line-height: 3rem;
  margin-left: 0.5rem;
  font-weight: 300;
}

ul.navlinks li a {
  color: #cdcdcd;
}

ul.navlinks li:after {
  background: transparent;
  content: "|";
  display: inline-block;
  margin: 0 0 0 0.5rem;
  color: #cdcdcd;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: auto;
  left: auto;
  position: relative;
}

ul.navlinks li:last-child::after {
  content: "";
}

nav.property-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property-logo {
  width: 6rem;
  height: auto;
}

.property-logo img {
  width: 100%;
  height: auto;
}

.nav-btn {
  padding: 0 1.5rem;
  margin-right: 0.5rem;
  color: #343342;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  outline: 0;
  border: 2px solid transparent;
  height: 3rem;
}

.login {
  border: 2px solid #343342;
}

.sign-up {
  background-color: #343342;
  color: white;
}

.property-hero {
  width: 100%;
  height: 100vh;
  background-color: #ce011f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property-text {
  font-family: "Source Sans Pro";
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 990px;
  text-align: center;
  font-size: 56px;
  color: #fff;
  margin-bottom: 40px;
}

.search-box {
  width: 100%;
  position: relative;
}

.tab {
  padding: 0.5rem 2rem;
  background-color: white;
  color: #343342;
  border-color: transparent;
  font-size: 16px;
  outline: 0;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.tab.current {
  background: #343342;
  color: #fff;
  border: 1px solid #343342;
}

.search-bar {
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.property-search {
  width: 80%;
  border: 0;
  padding: 1rem 0;
  color: #d9e0e0;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  outline: 0;
}

.search-btn {
  background: #343342;
  color: #fff;
  border: 1px solid #343342;
  padding: 0rem 3rem;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  outline: 0;
  border-radius: 3px;
  height: 3.1rem;
}

.pop-up-search {
  -webkit-box-shadow: 0 2px 8px 0 rgba 0, 0, 0, 0.9;
          box-shadow: 0 2px 8px 0 rgba 0, 0, 0, 0.9;
  position: absolute;
  top: 140px;
  border-radius: 4px;
  background-color: white;
  padding: 1rem;
  width: 100%;
}

.poptext {
  margin-right: 6px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #343342;
}

.property-image {
  width: 100%;
  height: 28rem;
  background-color: #2b2b2b;
}

.property-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ng {
  --bs-gutter-x: 0rem;
}

.guide-title {
  font-size: 25px;
  line-height: 39px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #343342;
}

.guide-sub {
  font-size: 16px;
  line-height: 39px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #6d797a;
  font-family: "Source Sans Pro", sans-serif;
}

.find-tab {
  color: #343342;
  cursor: default;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Source Sans Pro";
  margin-right: 2rem;
}

.find-tab.not {
  color: #6d797a;
}

.find-bar {
  width: 50%;
  margin-bottom: 1rem;
}

.tab-box {
  width: 100%;
  position: relative;
  background-color: transparent;
  height: 1px;
}

.tab-progress {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -4px;
  background: #343342;
  -webkit-transition: left linear 0s, width linear 0s;
  transition: left linear 0s, width linear 0s;
  height: 3px;
  width: 40%;
}

.tab-progress.agent {
  left: 42%;
  width: 35%;
}

.find-search {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fff;
  width: 80%;
}

.find {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 0;
  outline: 0;
  font-size: 16px;
  border: 1px solid #c9d2d3;
  border-radius: 4px 0 0 4px;
  padding: 0 0 0 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.find-icon {
  cursor: pointer;
  background: #343342;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.find-icon i {
  color: white;
}

.fit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 28rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.property-footer {
  border-top: 1px solid #c9d2d3;
  font-family: "Source Sans Pro", sans-serif;
  color: #343342;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 4rem;
}

.property-socials {
  margin: 2rem 0;
}

.property-socials i {
  margin-right: 3rem;
  color: #343342;
  font-size: 1.8rem;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

ul.footer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.footer-ul li {
  padding: 8px 0;
  font-size: 14px;
  color: #343434;
}

ul.footer-ul li a {
  color: #343342;
}

ul.footer-ul li.top {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
}

.copys {
  margin-bottom: 1rem;
}

.copys-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.copys-ul li {
  font-size: 0.85rem;
  color: #343342;
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.copys-ul li a {
  color: #343342;
}

.copys-ul li:after {
  background: transparent;
  content: "|";
  display: inline-block;
  margin: 0 0 0 0.5rem;
  color: #343434;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: auto;
  left: auto;
  position: relative;
}

.copys-ul li:last-child::after {
  content: "";
}

.copy-text {
  margin-bottom: 1rem;
}

.broke-logo {
  width: 7rem;
  height: auto;
}

.broke-logo img {
  width: 100%;
  height: auto;
}

.left-menu,
.right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.right-links li {
  padding: 0 1.2rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

ul.right-links li a {
  color: white;
}

h1.headline {
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: roboto;
  font-weight: bold;
}
.tech-wrapper {
  width: 100%;
  background-color: #ce011f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 1, 32, 0.836)), to(rgba(206, 1, 32, 0.829))), url("/371906220_TYPING_ON_LAPTOP_400px.gif") no-repeat 50%;
  background: linear-gradient(180deg, rgba(206, 1, 32, 0.836), rgba(206, 1, 32, 0.829)), url("/371906220_TYPING_ON_LAPTOP_400px.gif") no-repeat 50%;
  background-size: cover;
}

.learn-wrapper {
  width: 100%;
  background-color: #ce011f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(206, 1, 32, 0.836)), to(rgba(206, 1, 32, 0.829))), url("/371906220_TYPING_ON_LAPTOP_400px.gif") no-repeat 50%;
  background: linear-gradient(180deg, rgba(206, 1, 32, 0.836), rgba(206, 1, 32, 0.829)), url("/371906220_TYPING_ON_LAPTOP_400px.gif") no-repeat 50%;
  background-size: cover;
}

.learn-content{
  width: 70%;
}

/* .tech-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2.5rem;
  background: url(https://technology.kw.com/wp-content/themes/keller-cloud/_assets/images/arrow-down.png) 50% 50% no-repeat;
  background-size: cover;
  width: 25px;
  height: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
} */

.section-text {
  font-size: 1.7rem;
  color: white;
  margin-left: 3rem;
  font-weight: 600;
}

h2.divide-section {
  font-size: 3.3rem;
  color: black;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  margin: 0 auto 2rem;
}

.tech-body {
  margin: 5rem 0;
}

p.div-section {
  color: #868686;
  max-width: 700px;
  font-size: 11px;
  margin: 0 auto 2rem;
  text-align: center;
  letter-spacing: 0.06rem;
  line-height: 3;
}

.black-section {
  background-color: black;
  color: white;
  width: 100%;
  padding: 4rem 0 8rem;
}

.black-intro {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.black-pp {
  font-size: 0.85rem;
  text-align: center;
}

.black-img {
  width: 85%;
  height: auto;
}

.black-img img {
  width: 100%;
  height: auto;
}

.flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-flex {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  padding: 2rem;
  text-align: center;
}

.flex-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  margin: 0 auto 1.5rem;
  color: black;
}

h4.topic {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  margin: 0 0 1.5rem;
}

.video-frame {
  width: 100%;
  height: 28rem;
  background-color: red;
}

.carousel-slide {
  background: url("/Background-for-the-Learn-page-header-image.jpg") 50% 50% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 1;
  display: block;
  z-index: 5;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.carousel-slide::after {
  content: "";
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-hero {
  height: 90vh;
  position: relative;
  margin-top: 99px;
}

.contains {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.slide-content {
  position: absolute;
  width: 80%;
  max-width: 500px;
  top: 50%;
  z-index: 2;
  right: 7.5%;
  left: auto;
  -webkit-transform: translate(-7.5%, -60%);
          transform: translate(-7.5%, -60%);
}

.slide-content h4 {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 1.4rem;
  margin: 0 auto 3rem;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  color: white;
}

.slide-content h4::before {
  background: #ce011f;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 0.18rem;
}

.slide-content h2 {
  font-size: 2.2rem;
  color: white;
  line-height: 3rem;
  font-weight: bold;
  margin: 0 auto 2rem;
}

.carousel-navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 10;
}

.clm {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carousel-nav {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 1rem;
  padding: 0.7rem;
  width: 20px;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

.carousel-nav::before {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  top: 0;
  width: 100%;
}

.carousel-p {
  font-size: 0.75rem;
  line-height: 1.2rem;
  margin: 0;
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
}

.carousel-p.current {
  opacity: 1;
}

h2.outfront {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  margin: 0 auto 2rem;
  text-align: center;
}

p.features {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
  color: black;
  margin: 0 auto 1.5rem;
  text-align: center;
}

p.features a {
  color: #676767;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  position: relative;
  padding-right: 1rem;
  margin-right: 1.3rem;
  text-decoration: none;
  display: inline-block;
}

p.features a:hover::before, p.features a:hover::after {
  right: -0.37rem;
}

p.features a::before, p.features a::after {
  background: #676767;
  content: "";
  width: 7px;
  height: 0.15rem;
  right: 0rem;
  position: absolute;
  -webkit-transition: right 0.41s ease-in;
  transition: right 0.41s ease-in;
}

p.features a::before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: 11px;
}

p.features a::after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  top: 15px;
}

p.features.st a::before {
  top: 13px;
}

p.features.st a::after {
  top: 17px;
}

h1.has-red-line,
h2.has-red-line,
h3.has-red-line,
h4.has-red-line {
  display: inline-block;
  position: relative;
  padding: 1rem 0 1rem 1rem;
  overflow: hidden;
}

h1.has-red-line::before,
h2.has-red-line::before,
h3.has-red-line::before,
h4.has-red-line::before {
  background: #ce011f;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 0.17rem;
}

.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-bottom: 3rem;
}

h2.has-red-line {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  color: black;
}

h4.has-red-line {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 1.4rem;
  margin: 0 auto 2rem;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
  color: black;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  margin: 0 auto 2.5rem;
  gap: 1rem;
}

.card-container.pod {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.single-card {
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 15px rgba(207, 207, 207, 0.25);
          box-shadow: 0 0 15px rgba(207, 207, 207, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.41s ease-in-out;
  transition: -webkit-box-shadow 0.41s ease-in-out;
  transition: box-shadow 0.41s ease-in-out;
  transition: box-shadow 0.41s ease-in-out, -webkit-box-shadow 0.41s ease-in-out;
  width: 100%;
  position: relative;
}

.single-card:hover {
  -webkit-box-shadow: 0 0 15px #cfcfcf;
          box-shadow: 0 0 15px #cfcfcf;
}

.single-card:hover .card-image {
  -webkit-transform: scale(1.055);
          transform: scale(1.055);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.profile-img {
  position: fixed;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

.mtp {
  margin-top: 8rem !important;
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-logged {
  position: relative;
}

.dropdown-bg {
  position: absolute;
  width: 100%;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.171);
          box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.171);
  display: none;
  background-color: white;
}

.dropdown-bg ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-bg ul li {
  font-size: 0.85rem;
  color: #000000;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.dropdown-bg ul li:hover {
  background-color: #ce011f;
  color: white;
}

.profile-logged.active .dropdown-bg {
  display: block;
}

.user-img {
  width: 15rem;
  height: 15rem;
  margin-left: 4rem;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  margin-top: 5rem;
}

.user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-card.pod {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.card-image {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.65s ease-in;
  transition: -webkit-transform 0.65s ease-in;
  transition: transform 0.65s ease-in;
  transition: transform 0.65s ease-in, -webkit-transform 0.65s ease-in;
}

.card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-image.pod {
  height: 27rem;
}

p.seasons {
  color: #8a8a8a;
  font-size: 0.9rem;
  text-align: right;
}

.card-content {
  border-top: none;
  padding: 3.5rem 2.5rem 2rem;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-content h3 {
  color: #000000;
  font-weight: 500;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
}

.card-tag {
  background: #000000;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  min-width: 8.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-size: 0.8rem;
}

.content-details {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.4rem;
  width: 100%;
}

.content-details p {
  color: #c8c8c8;
  font-size: 0.82rem;
  margin: 0;
  font-weight: 400;
}

.content-details p.date {
  text-align: right;
  font-style: italic;
}

.carousel-video-section {
  position: relative;
  overflow: hidden;
}

.carousel-video {
  width: 100%;
  background-color: #ce011f;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 15px #cfcfcf;
          box-shadow: 0 0 15px #cfcfcf;
  overflow: hidden;
  position: relative;
  height: 41rem;
}

.carousel-video-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  -webkit-transition: opacity 0.35s ease-in;
  transition: opacity 0.35s ease-in;
  margin: 1.5rem auto;
}

.carousel-video-single {
  opacity: 0.5;
  padding: 1.5rem 0.5rem 0.5rem;
  position: relative;
}

.carousel-video-single::before {
  background: #676767;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  top: 0;
  width: 100%;
  -webkit-transition: background 0.35s ease-in;
  transition: background 0.35s ease-in;
}

.carousel-video-single h3 {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  margin: 0 auto 1rem;
}

.carousel-video-single p {
  color: #4d4d4d;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  line-height: 2rem;
  font-weight: 400;
}

.carousel-video-single.active {
  opacity: 1;
}

.carousel-video-single.active::before {
  background: #ce011f;
}

.subscription {
  background: #ce011f;
  padding: 3.5rem 1.5rem;
  margin-top: 5rem;
}

.subscription .contains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
}

.sub-form {
  width: 100%;
}

.text-sub {
  margin-right: 4rem;
  width: 100%;
}

.text-sub h2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0 auto 2rem;
  color: white;
}

.text-sub p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.06rem;
  line-height: 1rem;
  margin: 0 auto 2rem;
  color: white;
}

.sub-input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  padding: 0 1rem;
  height: 3.5rem;
  border-radius: 2px;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.sub-input::-webkit-input-placeholder {
  color: white;
}

.sub-input:-ms-input-placeholder {
  color: white;
}

.sub-input::-ms-input-placeholder {
  color: white;
}

.sub-input::placeholder {
  color: white;
}

ul.errormessage {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.errormessage li.errors label {
  color: #ffffff;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
}

.sub-btn {
  position: absolute;
  top: 0;
  background: white;
  width: 100px;
  right: 0;
  color: #ce011f;
  font-family: "Roboto", sans-serif;
  border: 1px solid #ffffff;
  padding: 0.9rem;
  -webkit-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
  border-radius: 0 3px 3px 0;
}

.sub-btn:hover {
  background-color: transparent;
  color: white;
}

.inputs {
  position: relative;
  width: 100%;
}

.mega {
  margin: 2rem auto 10rem;
  padding: 8.5rem 0 8rem;
  background-color: #000000;
  position: relative;
}

.mega h2 {
  font-size: 6.5rem;
  line-height: 10rem;
  font-weight: 700;
  color: white;
}

.mega p {
  color: white;
  line-height: 2rem;
  text-align: center;
}

.mega .contains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.mega-pic-a {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.mega-pic-a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.mega-pic-a::after {
  background: #ce011f;
  border-radius: 100%;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
}

.mega-pic-a:nth-of-type(1) {
  top: -30%;
  left: 5%;
}

.mega-pic-a:nth-of-type(2) {
  top: -50%;
  right: 15%;
}

.mega-pic-a:nth-of-type(3) {
  left: 30%;
  bottom: -55%;
}

.mega-pic-a:nth-of-type(4) {
  bottom: -45%;
  right: 20%;
}

.mega-pic-a:nth-of-type(5) {
  top: -38%;
  left: 60%;
  width: 75px;
  height: 75px;
}

.mega-pic-a:nth-of-type(6) {
  bottom: 15%;
  left: 15%;
  width: 75px;
  height: 75px;
}

.mega-pic-a:nth-of-type(7) {
  bottom: 0;
  left: 5%;
  width: 40px;
  height: 40px;
}

.mega-pic-a:nth-of-type(8) {
  top: -50%;
  left: 30%;
  width: 60px;
  height: 60px;
}

.mega-pic-a:nth-of-type(9) {
  bottom: 0;
  right: 10%;
  width: 60px;
  height: 60px;
}

.mega-pic-a:nth-of-type(10) {
  top: -10%;
  right: 5%;
  width: 35px;
  height: 35px;
}

.mega-pic-a.left::after {
  left: -4px;
  top: -5px;
}

.headquater-section {
  margin: 3rem auto;
}

.quater-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0 auto 3rem;
}

.statement-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 7rem auto;
}

.statement-image {
  width: 80%;
  height: auto;
  margin: 3.5rem 0 3.5rem auto;
}

.statement-image img {
  width: 100%;
  height: auto;
}

.statement-box {
  padding: 3.5rem 5rem;
  background-color: black;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 515px;
  margin-bottom: -33%;
  z-index: 1;
}

h1.statement {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 0 2rem;
}

h1.statement a {
  color: white;
  text-decoration: underline;
}

h4.award-head {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 1rem;
  margin: 0 auto 2rem;
  text-align: center;
}

.award-carousel {
  width: 100%;
  display: block;
  background: url(https://headquarters.kw.com/wp-content/uploads/2019/11/Award_Slider_Bckground.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  padding-bottom: 25%;
  min-height: 300px;
  max-height: 450px;
  overflow: hidden;
}

.award-carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.award-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.award-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
  margin: 2.5rem auto;
}

.single-logo {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 0 1rem;
  opacity: 0.35;
  -webkit-transition: opacity 0.42s ease-in;
  transition: opacity 0.42s ease-in;
  width: 100%;
}

.single-logo img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 120px;
  min-width: 50px;
}

.single-logo:hover {
  opacity: 1;
}

.single-logo.active {
  opacity: 1;
}

.award-carousel-section {
  margin: 2rem auto 5rem;
}

.pattern-section {
  background: url("https://headquarters.kw.com/wp-content/themes/kw-hq/_assets/images/pattern-light.svg") repeat 50% 50%;
  background-size: 250px;
  padding: 3rem 0;
}

.hamburger {
  display: none;
  width: 2rem;
  height: 1rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hamburger .hamburg {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ce011f;
  position: relative;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.hamburger .hamburg::after, .hamburger .hamburg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #ce011f;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hamburger .hamburg::before {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.hamburger .hamburg::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

#hmb {
  display: none;
}

.hamburg.tech {
  background-color: white;
}

.hamburg.tech::before, .hamburg.tech::after {
  background-color: white;
}

.right-links.tech li a {
  color: white;
}

.contact-hero {
  width: 100%;
  height: 80vh;
  background-color: red;
  margin: 0 auto 12rem;
  background: url("/Contact-Us-Page.jpg") no-repeat -20% 15%;
}

h2.contactus {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}

.gap {
  -webkit-column-gap: 5rem !important;
          column-gap: 5rem !important;
  margin-top: -22rem;
}

.gaps {
  grid-column-end: 8 !important;
  -ms-grid-column: 13 !important;
      grid-column-start: 13 !important;
}

.form-section {
  width: 850px;
  margin: 4rem auto;
  padding: 0 2rem;
}

.input-box {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.text-input {
  resize: none;
  width: 100%;
  min-height: 174px;
}

.input-label {
  color: #4d4d4d;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  margin: 0 auto 0.5rem;
}

.form-input, .text-input {
  border: 1px solid;
  border-color: #a2a2a2;
  border-radius: 2px;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  width: 100%;
  outline: 0;
  -webkit-transition: border-color 0.41s ease-in;
  transition: border-color 0.41s ease-in;
}

.newsbody {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

.newsletter-card {
  width: 30%;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem;
}

.sign-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 9rem auto 4rem;
}

.sign-image {
  width: 100%;
  height: 100%;
  background-color: red;
}

.sign-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sign-form {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
}

@media screen and (max-width: 1006px) {
  .gridbox {
    display: block;
  }
  h1.hero-text {
    font-size: 3rem;
  }
  .social-icons {
    margin: 5rem 0;
  }
  h1.intro {
    font-size: 2rem;
  }
  .right-links.tech li a {
    color: #2b2b2b;
  }
  p.story-text, .mega p {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
  }
  .single-item h4 {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0 0 0 0.3rem;
    margin: 0 auto 1.5rem;
  }
  .carousel-box {
    padding: 1.4rem;
  }
  .carousel-items p {
    font-size: 0.9rem;
  }
  h1.test {
    font-size: 1.3rem;
  }
  .mt-4r {
    margin-top: 2rem !important;
  }
  .gridbox.content-box {
    padding: 3rem 1rem;
  }
  .text-box {
    padding: 1rem;
  }
  p.title,
  p.headline {
    font-size: 0.8rem;
  }
  img.read {
    float: none;
    margin-right: 1rem;
    margin-left: auto;
    margin-bottom: 2rem;
  }
  .item-single h2 {
    font-size: 1.8rem;
  }
  .item-box h1 {
    font-size: 1.1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  .mt-n-20 {
    margin-top: -7rem !important;
  }
  .foot-text {
    font-size: 2.5rem;
  }
  .second-footer,
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec-title li {
    text-align: center;
  }
  ul.navlinks,
  .footer-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  ul.navlinks li,
  .footer-ul li {
    letter-spacing: unset;
    line-height: unset;
  }
  .footer-ul {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .image-box,
  .image-boxx {
    height: 15rem;
  }
  .carousel-box {
    margin-top: -5rem;
  }
  .item-box {
    margin-top: -5rem;
    padding: 2rem;
  }
  ul.topnavmenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .topnav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    z-index: 101;
  }
  ul.topnavmenu li.topnavlink {
    padding: 0 0.8rem;
  }
  .sign-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .sign-image {
    display: none;
  }
  .sec-title li.top .dropdowns,
  .footer-links li.top .dropdowns {
    display: none;
  }
  .sec-title li.top i,
  .footer-links li.top i {
    opacity: 1;
  }
  .sec-title li.top.active .dropdowns,
  .footer-links li.top.active .dropdowns {
    display: block;
  }
  .sec-title li.top.active i,
  .footer-links li.top.active i {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .slide-content h2 {
    text-align: center;
    font-size: 2rem;
  }
  .carousel-navigations {
    display: none;
  }
  .action-btn.reversed {
    margin: 0 auto 2rem;
  }
  p.features {
    padding: 0 0.5rem;
  }
  .flex-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pad {
    padding: 3rem 0;
  }
  .card-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .carousel-video-nav {
    display: none;
  }
  .mega h2 {
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
  }
  .mega p {
    line-height: 1rem;
  }
  .single-card.pod {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .action-btn.learn {
    margin-left: auto;
    margin-right: auto;
  }
  .subscription .contains {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-sub h2 {
    text-align: center;
  }
  .right-menu {
    position: fixed;
    background-color: white;
    height: 100vh;
    top: 13%;
    left: -100%;
    width: 100%;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .right-menu.property {
    top: 8%;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem;
  }
  .nav-btn {
    margin: 1rem auto;
  }
  .nav-btn.sign-up {
    margin-bottom: 10rem;
  }
  .property-text {
    font-size: 24px;
  }
  .tab {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .search-bar {
    padding: 0 0 0 1rem;
    border-radius: 0 4px 4px 0;
  }
  .property-search {
    padding: 0.5rem;
  }
  .form-section {
    width: 100%;
  }
  #hmb:checked ~ .right-menu {
    left: 0;
  }
  #hmb:checked ~ label .hamburger .hamburg {
    background-color: transparent;
  }
  #hmb:checked ~ label .hamburger .hamburg::before {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  #hmb:checked ~ label .hamburger .hamburg::after {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  ul.right-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  ul.right-links li {
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mega-pic-a {
    display: none;
  }
  .mega {
    padding: 5rem 0;
    margin-bottom: 5rem;
  }
  .video-frame {
    margin-top: 2rem;
  }
  .flex-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h2.divide-section {
    font-size: 2.3rem;
  }
  .tech-body {
    padding: 0 2rem;
  }
  h1.headline {
    font-size: 3.5rem;
  }
  .black-img {
    width: 100%;
  }
  .topic {
    text-align: center;
  }
  .action-btn.black-nm {
    margin: 0 auto 2rem;
  }
  .quater-title {
    text-align: center;
  }
  h1.has-red-line,
  h2.has-red-line,
  h3.has-red-line,
  h4.has-red-line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-text {
    margin-left: 1rem;
  }
  .statement-box {
    padding: 3rem;
    margin-bottom: 0;
  }
  .statement-section {
    margin-top: 3rem;
  }
  .statement-image {
    width: 100%;
  }
  .card-content h3 {
    font-size: 0.9rem;
  }
  .pattern-section {
    padding: 2rem;
  }
  .find-bar {
    width: 100%;
  }
  .find-search {
    width: 100%;
  }
  .tab-box {
    opacity: 0;
  }
  .guide-title {
    font-size: 23px;
  }
  .findt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .find-tab {
    margin: 0;
  }
  .property-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .property-socials i {
    margin: 0;
  }
  .footer-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .clm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */